body{
    width: 100%;
    background-color:#DEE4E3 ;
    transform: scale(1);
    transform-origin: center;
    
}
.social-icons {
        display: flex;
        justify-content: center;
    }
    
    .social-icons a {
        text-decoration: none;
        color: #333; 
        margin: 10px;
        font-size: 24px;
    }

    .social-icons a:hover {
        color: #007bff; 
    }
    .contact{
        margin-top: 10%;
        text-align: center; 
        margin-top: 240;

    }
    .contact h1 {
        color: rgba(0, 129, 112, 1);
        font-size: 64px;
        font-weight: 400;
    }
    
    .address{
        font-size: 48;
        font-weight:400;
    }
    .follow{
        font-size: 48;
        font-weight: 400;
        color: green;
    }
    .close-button{
        margin-top: 5%;
        margin-left: 65%;
        text-decoration: none;
        background-color: #DEE4E3;
        border: 0px;
        color: black;
       font-size: 40px;
       
    }
    .close-button a {
        color: black;
    }


   .close-link:hover {
         cursor: pointer;
    }

    
    .button-link{
        text-decoration: none;
                
    }
    
    
@media all and (max-width: 500px){
.contact{
    margin-top: 10%;
    text-align: center; 
    margin-top: 120;

}
.contact h1 {
    color: rgba(0, 129, 112, 1);
    font-size: 22px;
    font-weight: 400;
}

.close-button{
    margin-top: 15%;
    margin-left: 70%;
    text-decoration: none;
    background-color: #DEE4E3;
    border: 0px;
    color: black;
   font-size: 40px;
   
}


}   