
body {
    background-color: #e4e1de;
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.app{
    width:100%;
    background-color: #e4e1de;
    height: 1100px;
}


.nav1 li a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-left: 20px;

}
.main{
    display: flex;
}
.nav1 {
    display: flex;
    justify-content: space-between;
    margin-top: 7%;
  
}
li {
    margin-left: 20px;
}
ul {
    list-style-type:none ;
}

.nav {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: space-between;
}



.logo{
    width: 80px;
   height: 25px;
}
.logo-image{
    width: 200px;
    height: 90px;
    margin-left: 50%;
}
#image-container {
    width: 408px;
    height: 530px;
    overflow: hidden;
    background-color: #e4e1de;
    margin-top: 10%;
    
 
}
.view1{
    background-color: #DEE4E3;
    height: 100%;
    width: 100%;
    filter: grayscale(100%); 
    width: 100%;
    height: 100%;
    opacity: 1;

}
.cart{
    background-color:#DEE4E3;
    margin-top: 0%;
 
}
.slogan {
    font-size: 80px;
    margin-top:  16%;
   
    
}
.nav2{
    display: flex;
    justify-content: space-between;
  
}


.shop-btn{
    background-color: rgba(0, 129, 112, 1);
    width: 90px;
    height: 40px;
    align-items: center;
    border-radius: 6px;
    margin-top: -7%;
    margin-left: 40px;
    
}
.shop-pg{
    color: white;
    font-size: 11px;
}
.shop-btn:hover {
    cursor: pointer;
}

.grid-container {
    background-color: #e4e1de;
   display:flex;
   flex-direction: row;
   height: 500px;
   justify-content: center;
  
  
}

.grid-item {
    margin-right: 20px; 
    margin-bottom: 20px; 
    background-color: white; 
    margin-top: 40px;

  
}

.products-img {
    width: 250px;
    height: 300px;
    margin-right: 15px;
    background-color: white;
}

.icon-Products {
    margin-top: 2%;
    margin-left: 85%;
}

.product-paragraph {
    margin-left: 20%;
}

.price-tag {
    margin-left: 30%;
    margin-top: -3%;
    color: green;
}
.Back-icon{
    display: flex;
    margin-bottom: 40px;
    margin-top: 5px;

}
.Back-icon p {
    color:#008170 ;
}
.icon-link{
    font-size: 24px;
    color: white;
    gap: 30px;
}

@media all and (min-width: 501px) {
    #menu-checkbox, .fas.fa-bars {
        display: none;
    }
    .logo_phone{
        display: none;
    }
    .logo-image-phone{
        display: none;
    }
    .cart-phone {
        display: none;
    }
}
@media all and (max-width: 500px) {
    body{
        height: 1300px;
        margin-top: 0px;
        
    }
    
    .header{
        margin-top: 0%;
    }
    .app{
        margin-top: 0%;
        height: 1100px;
        
    }
    .navheader{
        display: flex;
        justify-content: space-between;
        margin-top: 4%;
      
    }
    #IconCheck i.fas.fa-bars{
       margin-top: 40%;
       font-size: 30px;
    }
        
    .nav1{
        display: flex;
    }
    .nav1 li{
        gap: 8px;

    }
    .cart-phone{
       margin-top: 4%;
       position: relative;
      
    }
    .nav2{
        display: block;
    }
    .cart{
        display: none;
    }
    #main {
        display: none;
    }
    .Last_section {
        display: none;
    }
    #IconCheck {
        margin-right: 20px;
        display: block;
    }
    .nav1{
        margin-left: -105px;
        
    }
    .nav1 li {
        margin-top: 15px;
    }

    .nav1, #menu-checkbox{
        display: none;
       
    }
    #menu-checkbox:checked ~ .nav1 {
        display: block;
        gap: 2px;
        position: absolute;
        margin-right: 100px;
        margin-top: 30px;
     
       
    }
    .nav {
        flex-direction: column;

    }
    .slogan {
        font-size: 40px;
        margin-top:  32%;
       
        
    }
    
    
   .logo{
      
       display: none;
    }
   .logo-image{
      display: none;
    }
    #image-container {
       width: 200px;
       height: 300px;
       overflow: hidden;
       background-color: #e4e1de;
       margin-top: 20%;
       margin-left: 35%;
    
 
    }
    .logo_phone{
        width: 40px;
        height: 12px;
        margin-top: 0px;

    }
    .logo-image-phone{
        width: 100px;
        height: 45px;

    }
}


